# Dependencies
node_modules/
venv/
env/
ENV/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# OS/IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project Specific
UI/node_modules/
UI/chatbot/venv/
UI/new_ocr/venv/
new_ocr/venv/
chatbot/venv/

# Secrets
.env
*.pem
*.key
